
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: "Lato, sans serfif";
}

header {
    color: #13293d;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-image: url(./bg-1.jpeg);
    background-blend-mode: screen;
}

h1 {
    background-color: rgba(80, 80, 80, 0.5);
    color: white;
    margin: 20px;
    font-size: 60px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

  li {
    float: left;
    padding: 10px;
  }
  
  a {
    display: block;
    padding: 8px;
    text-decoration: none;
  }
  

  .subhead {
      display: flex;
      -ms-flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-image: url(./photo-1518655048521-f130df041f66.jpeg);
      background-position: right;
      background-repeat: no-repeat;
      background-color: #eeeeee;
  }

  img {
      height: 300px;
      width: 300px;
  }

  h2{
      font-size: 45px;
  }

   .about-me {
    display: flex;
    flex-direction: row;
justify-content:space-between;    
align-items:center;
align-content: center;
}

p {
  font-size: 20px;
}

.work {
    display: flex;
    flex-direction: row;
align-items:center;
flex-wrap: wrap; 
}


.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
align-items:center;
align-content: space-between;
    
}

h3{
    margin: 250px;
    text-align: center;
    font-size: 30px;
}

.work {
border-top: 2px solid grey;
padding-bottom: 30px;
}

.contact {
  border-top: 2px solid grey;
  }
  


.work a{
  color: white;
  position: absolute;
  font-weight: 900;
  background-color: grey;
}

.selfie {
  margin: 20px;
  box-shadow: 5px 5px 15px 5px grey;
}


.surf{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: 1.5%;
}

.surf img {
  width: 85%;
}

.surf h4 {
    position: absolute;

}

.surf:hover{
  opacity: 50%;
}

.LED{
  width: 25%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-left: 35%;
  margin-top: 1.5%;
}

.LED:hover{
  opacity: 50%;
}

.calc {
  width: 25%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-top: 1.5%;
}

.calc:hover{
  opacity: 50%;
}

.pastel {
  width: 25%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-left: 35%;
  margin-top: 1.5%;
}

.pastel:hover{
  opacity: 50%;
}

.grass {
  width: 25%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-top: 1.5%;
}

.grass:hover{
  opacity: 50%;
}

@media screen and (max-width: 992px) {
  header {
    display: flex; 
    flex-direction: column;
    text-align: center;
    }
  
  .about-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  h3{
    margin: 25px;
    align-items: center;
  }

  p {
    padding: 10px;
  }

  .work {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .surf {
    width: 100%;
  }

  .LED {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;  }

    .calc {
      width:inherit;
    }

    .pastel {
      margin:0px
    }

    .grass {
      width: inherit;
    }

}

@media screen and (max-width: 768px) {
  
  .surf {
    width: 100%;
    justify-content: center;
  }


  .LED {
    margin-left: 0px; 
    width: inherit;
  }

    .calc {
      width:inherit;
    }

    .pastel {
      margin:0px;
      width: inherit;
    }

    .grass {
      width: inherit;
    }

}

@media screen and (max-width: 576px) {
  
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-content: center;
    align-items: flex-start;
  }

  header {
    display: flex; 
    flex-direction: column;
    text-align: center;
    }

    ul {
      font-size: 15px;
    }

    li{
      padding: 5px;
      text-align: center;
    }

  h3{
    margin: 0px;
    text-align: center;
    padding: 15px
  }
  
  p {
    font-size: 12px;
    padding: 10px;
  }

  .selfie{
    width: 200px;
    height: 200px;
  }
  h2 {
    font-size: 25px;
  }

  .work {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
  }
  
  .surf {
    width: 100%;
    justify-content: center;
  }

  .LED {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .calc {
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .pastel {
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: center;
  }

  .grass {
    margin: 0;
    padding: 0;
    justify-content: center;
}

}