
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: "Lato, sans serfif";
}

header {
    color: #13293d;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-image: url(./bg-1.jpeg);
    background-blend-mode: screen;
}

h1 {
    background-color: rgba(80, 80, 80, 0.5);
    color: white;
    margin: 20px;
    font-size: 60px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

  li {
    float: left;
    padding: 10px;
  }
  
  a {
    display: block;
    padding: 8px;
    text-decoration: none;
  }
  

  .subhead {
      display: flex;
      -ms-flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-image: url(./photo-1518655048521-f130df041f66.jpeg);
      background-position: right;
      background-repeat: no-repeat;
      background-color: #eeeeee;
  }

  img {
      height: 300px;
      width: 300px;
  }

  h2{
      font-size: 45px;
  }

   .about-me {
    display: flex;
    flex-direction: row;
justify-content:space-between;    
align-items:center;
align-content: center;
}

p {
  font-size: 20px;
}

.work {
    display: flex;
    flex-direction: row;
align-items:center;
flex-wrap: wrap; 
}


.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
align-items:center;
align-content: space-between;
    
}

h3{
    margin: 250px;
    text-align: center;
    font-size: 30px;
}

